<div class="favorite">
  <div class="container">
    <div class="favorite-title">Избранное</div>

    <div class="favorite-empty" *ngIf="products.length === 0">
      <div>В избранном нет товаров</div>
      <button class="button" routerLink="/catalog">В каталог</button>
    </div>

    <div class="favorite-products" *ngIf="products && products.length > 0">
      <product-card *ngFor="let product of products; let first = first" [isFirstFavorite]="first"
                    [product]="product" [isFavorite]="true"
                    (removeFromFavorites)="removeFromFavorites($event)"></product-card>
    </div>

  </div>
</div>
