@import "../../../../assets/styles/variables";

.product-card {
  width: 291px;
  height: 498px;
  box-sizing: border-box;
  position: relative;

  &.is-light {
    height: auto;
    cursor: pointer;
  }

  .product-card-favorite {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    z-index: 2;
  }

  .product-card-image {
    width: 291px;
    height: 291px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    //background-color: #EAEAEA;
  }

  .product-card-name {
    height: 52px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: $green-text-color;
    margin-top: 15px;
  }

  .product-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C7C7C7;

    .product-card-price {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 130%;
      color: $green-text-color;
    }

    .product-card-action .button {
      width: 166px;
      height: 49px;
    }
  }

  .product-card-extra {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .product-card-detail {
      display: flex;
      align-items: center;
      text-decoration: none;

      span {
        margin-left: 8px;
        font-size: 16px;
        color: #9AA89B;
      }
    }
  }
}

.favorite-product {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #E7F1E8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.first {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
  }

  .favorite-product-image {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }

  .favorite-product-name {
    margin-left: 24px;
    font-size: 20px;
    line-height: 130%;
    color: $green-text-color;
    width: 567px;
    margin-right: 20px;
  }

  .favorite-product-price {
    width: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: $gray-text-color;
  }

  .favorite-product-action {
    width: 253px;
    display: flex;
    gap: 20px;
    align-items: center;

    .button {
      width: 160px;
      min-width: 160px;
    }
  }

  .favorite-product-remove {
    margin-left: 61px;
    cursor: pointer;
  }
}
